.projects-item{
  display: flex;
  align-items: center;
}

.tooltip{
}

.tooltip-text{
  background-color: aliceblue;
  padding: 8px;
  border-radius: 4px;
}

.additional-info-img{
  margin-left: 10px;
  width: 24px;
}