.App {
  display: flex;
  justify-content: center;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}
.subHeader {
  padding: 15px;
  color: #e1d8cf;
  background-color: #373741;
}
.mainWrapper {
  max-width: 60%;

  @media (max-width: 576px) {
    max-width: 100%;
  }
}
.small {
  color: rgb(133, 133, 133);
  display: block;
}
