@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
html {
  max-width: 1440px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
